.navbar{
    display: flex;
    flex-direction: column;
    background-color: #03001C;
    flex-basis: 20%;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

.navbar > h1 {
    text-align: center;
    color: #B6EADA;
    width: 100%;
    flex-basis: 10%;
}


.kolor {
    background-color: red;
    width: 90%;
    flex-basis: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    color: white;
    width: 90%;
    flex-basis: 30%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.grid > div {
    height: 25%;
    margin: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.grid > div > input {
 flex-grow: 1;
 font-size: 20px;
}

