.navbar {
    display: flex;
    flex-direction: column;
    background-color: #03001C;
    flex-basis: 20%;
    justify-self: center;
    align-items: center;
    gap: 20px;
  }
  
  .navbar > h1 {
    text-align: center;
    color: #B6EADA;
    width: 100%;
    flex-basis: 10%;
  }
  
  .kolor {
    width: 90%;
    flex-basis: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .kolor > .brickColor {
    flex-basis: 10%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .kolor > .brickColor > p {
    height: 20px;
    flex-basis: 40%;
  }
  
  .grid {
    display: flex;
    color: white;
    width: 90%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
  }
  
  .grid > .rows,
  .grid > .columns {
    flex-basis: 20%;
    margin: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .grid > div > input {
    flex-grow: 1;
    font-size: 20px;
  }
  
  .brick {
    width: 45%;
    height: 15%;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    transition: all 0.14s;
    cursor: pointer;
  }
  
  .brick:hover {
    transform: scale(.95);
    border-radius: 2px;
  }
  
  .brickContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    gap: 5px;
  }
  
  .kolor > p {
    flex-basis: 20%;
    text-align: center;
    font-size: 20px;
  }
  
  .checkers {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    flex-basis: 40%;
    gap: 20px;
  }
  
  .checkers > div {
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
    gap: 20px;
  }
  
  .checkers > div > input {
    width: 20px;
  }
  
  .checkers > div > p {
    display: flex;
    height: auto;
    flex-grow: 1;
  }
  
  .delete,
  .save {
    width: 70%;
    font-size: 20px;
    height: 100%;
    cursor: pointer;
    transition: .15s all;
  }
  
  .delete {
    color: red;
  }
  
  .save {
    color: green;
  }
  
  .delete:hover,
  .save:hover {
    transform: scale(1.05);
  }
  